header{
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

section{
    background-color: lightblue;
    border-radius: 30px;
    width: 800px;
    text-align: center;
    margin: auto;
    
}
p{
    font-size: 20px;
    font-weight: 700;
}
div{
    padding: 20px;
}
input{
    
    size: 20px;
    font-size: 30px;
    border-radius: 10px;
}
div#res{
    text-align: justify;
    padding: 40px;
}