body{

    background-color: rgb(193, 193, 255);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
    font-size: 50px;  
    margin: 100px;

}
div{
    text-align: left;
    line-height: 3.5rem;
}
select#res{
    width: 250px;
    height: 300px;
    background-color: antiquewhite;
    border: 1px solid gray;
    padding: 10px;
    text-align: center;
    line-height: 1.5rem;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.377);    
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}